USE [master]
GO
/****** Object:  Database [Rubrica]    Script Date: 9/10/2021 11:16:17 AM ******/
CREATE DATABASE [Rubrica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rubrica', FILENAME = N'C:\Users\annamaria.ciasca\Rubrica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rubrica_log', FILENAME = N'C:\Users\annamaria.ciasca\Rubrica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rubrica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rubrica]
GO
USE [Rubrica]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/10/2021 11:16:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contatto]    Script Date: 9/10/2021 11:16:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contatto](
	[IdContatto] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](max) NOT NULL,
	[Cognome] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Contatto] PRIMARY KEY CLUSTERED 
(
	[IdContatto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indirizzo]    Script Date: 9/10/2021 11:16:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indirizzo](
	[IdIndirizzo] [int] IDENTITY(1,1) NOT NULL,
	[Tipologia] [nvarchar](max) NOT NULL,
	[Via] [nvarchar](max) NOT NULL,
	[Città] [nvarchar](max) NOT NULL,
	[CAP] [int] NOT NULL,
	[Provincia] [nvarchar](max) NOT NULL,
	[Nazione] [nvarchar](max) NOT NULL,
	[IdContatto] [int] NOT NULL,
 CONSTRAINT [PK_Indirizzo] PRIMARY KEY CLUSTERED 
(
	[IdIndirizzo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210910090304_FirstMigration', N'5.0.9')
GO
SET IDENTITY_INSERT [dbo].[Contatto] ON 

INSERT [dbo].[Contatto] ([IdContatto], [Nome], [Cognome]) VALUES (1, N'Annamaria', N'Ciasca')
SET IDENTITY_INSERT [dbo].[Contatto] OFF
GO
SET IDENTITY_INSERT [dbo].[Indirizzo] ON 

INSERT [dbo].[Indirizzo] ([IdIndirizzo], [Tipologia], [Via], [Città], [CAP], [Provincia], [Nazione], [IdContatto]) VALUES (1, N'Casa', N'Via Gaetano Donizetti 12', N'San Tammaro', 88888, N'Roma', N'Italia', 1)
SET IDENTITY_INSERT [dbo].[Indirizzo] OFF
GO
/****** Object:  Index [IX_Indirizzo_IdContatto]    Script Date: 9/10/2021 11:16:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_Indirizzo_IdContatto] ON [dbo].[Indirizzo]
(
	[IdContatto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Indirizzo]  WITH CHECK ADD  CONSTRAINT [FK_Indirizzo_Contatto_IdContatto] FOREIGN KEY([IdContatto])
REFERENCES [dbo].[Contatto] ([IdContatto])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Indirizzo] CHECK CONSTRAINT [FK_Indirizzo_Contatto_IdContatto]
GO
USE [master]
GO
